# Ignore Marimo
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/

# Ignore virtual environment
venv/

# Ignore dataset files
data/
Extra Datasets/

# Python cache
__pycache__/
.ipynb_checkpoints/
*.pyc
